@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin-ext');

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #191818;
    background-color: #fefefe;
}

main {
    min-height: calc(100vh - 14rem);
    padding: 5rem 12rem;
    position: relative;
}

.primary-heading {
    letter-spacing: .1rem;

    &--white {
        color: #efefef;
    }
}